/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.11.2018, 12:34:29
    Author     : hp
*/
@media screen and (max-width:1150px){
    .my-modal--w1150{
    width: 55vw;  
}
 .modall--w1150{
    left: 25.14vw;
}
}

@media screen and (max-width:1000px){
   .my-modal--w1000{
    width: 65vw;  
   }
    .modall--w1000{
    left: 20.14vw;
}
}
@media screen and (max-width:800px){
   .my-modal--w800{
    width: 85vw;  
   }
    .modall--w800{
    left: 10.14vw;
}
}