/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.11.2018, 18:10:43
    Author     : hp
*/
.height-auto {
    height: auto
}
.hidden-el {
     display: none;
}
.padding-left--20{
    padding: 0 0 0 2.0rem;
}
.margin-top--10{
    margin: 1.0rem 0 0 0;
}
.margin-top--20{
    margin: 2.0rem 0 0 0;
}
.margin-right-left--10{
    margin: 0 1.0rem 0 1.0rem;
}
.product-page {
    height: 5.0rem;
}
.cursor-pointer {
    cursor: pointer;
}
.my-modal{
    width: 45vw;  
}
.my-modal-height {
    height: 22vw;
    max-height: 60vh;
    min-height: 40vh;
    overflow-y: auto
}
.my-modal-segment-height {
    height: 12vw;
    max-height: 60vh;
    min-height: 10vh;
    overflow-y: auto
}
.modall {
    position: fixed;
    top:30%;
    left: 30.14vw;
    display: none
}
.z-visible {
    display: block;
    z-index: 1020
}
.opacity {
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(8, 8, 8, 0.2);
    z-index: 1011
}
/*analytics unit
*/
.font-datepicker {
    font-size: 2.0rem
}
.font-analytics{
    font-size: 1.3rem
}
.font-buyers{
   font-size: 1.8rem 
}
.top-indent-1{
    margin-top: 0.8rem
}
.my-modal-height {
    height: 22vw;
    max-height: 60vh;
    min-height: 40vh;
    overflow-y: auto
}
.my-modal-warning {
    height: 15vw;
    max-height: 145px;
   
}
btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff881e;
    border-color: #ff881e;
}
.pfoto-user {
    position: relative;
}
.pfoto-user__icon-change-pfoto {
    position: absolute;
    top: 0px;
    right: 0px;
}
.data-buyers{
    display: block;
    color: black;
    line-height: 1.4rem;
    font-size: 1.5rem
}
.data-buyers-gender {
    margin-left: 2rem;
}
.buyers-sale-img{
    width: 5.0rem;
}
